In this notebook, I'll implement the k-means clustering algorithm on synthetically generated data. Let's import the necessary libraries.

In [29]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:,.3f}'.format
pd.set_option('display.max_columns', None)

We create three synthetic clusters by sampling 10 observations from a normal distribution for each one. The features represented in the dataset are age, income, and spending score.

In [27]:
cluster1 = np.random.normal(loc=[25, 1500, 40], scale=[5, 1000, 10], size=(10, 3))
cluster2 = np.random.normal(loc=[40, 3000, 70], scale=[6, 1000, 15], size=(10, 3))
cluster3 = np.random.normal(loc=[60, 600, 20], scale=[10, 500, 5], size=(10, 3))

age, income, score = int(cluster1[:1][0][0]), int(cluster1[:1][0][1]), int(cluster1[:1][0][2]) 

print(f'As an example, this hypothetical person is {age} years old, has an income of ${income:,}, and a spending score of {score}.')

As an example, this hypothetical person is 20 years old, has an income of $2,339, and a spending score of 30.

In [30]:
# Hepsini birleştirelim
data = np.vstack([cluster1, cluster2, cluster3])

# DataFrame’e atalım
df = pd.DataFrame(data, columns=["Age", "Income", "SpendingScore"])

df.head()

     Age    Income  SpendingScore
0 20.953 2,339.178         30.590
1 13.995 1,733.685         30.385
2 26.719   199.675         36.802
3 27.302 1,099.119         46.682
4 27.840 2,557.782         27.469

elbow method

k-means

3-d görsel